
.tile-strike-img {
  position: absolute;
  z-index: 3;
  width: 60px;
  height: 60px;
}

.tile-img {
  position: absolute;
  width: 60px;
  height: 60px;
}

.number-tile {
  width: 60px;
  height: 30px;
}

.letter-tile {
  width: 30px;
  height: 60px;
}

.opponent-tile-img:hover {
  cursor: pointer;
}

.board-tile {
  display: flex;
  width: 60px;
  height: 60px;
}

.ship-image {
  position: relative;
}

.ship-image:hover {
  cursor: grab;
}

.ship-image:active {
  cursor: grabbing;
}

.img-ship-1 {
  margin-left: 20px;
  margin-top: -10px;
}

.img-ship-2 {
  margin-left: 20px;
  margin-top: 0;
}

.img-ship-3 {
  margin-left: 20px;
  margin-top: -5px;
}

.img-ship-4 {
  margin-left: 15px;
  margin-top: 15px;
}

.img-ship-1-vert {
  margin-left: -110px;
  margin-top: 125px;
  rotate: -90deg;
}

.img-ship-2-vert {
  margin-left: -80px;
  margin-top: 100px;
  rotate: -90deg;
}

.img-ship-3-vert {
  margin-left: -50px;
  margin-top: 65px;
  rotate: -90deg;
}

.img-ship-4-vert {
  margin-left: -20px;
  margin-top: 50px;
  rotate: -90deg;
}
.img-ship-1-sunk {
  margin-left: 20px;
  margin-top: -10px;
  opacity: 0.4;
}

.img-ship-2-sunk {
  margin-left: 20px;
  margin-top: 0;
  opacity: 0.4;
}

.img-ship-3-sunk {
  margin-left: 20px;
  margin-top: -5px;
  opacity: 0.4;
}

.img-ship-4-sunk {
  margin-left: 15px;
  margin-top: 15px;
  opacity: 0.4;
}

.img-ship-1-vert-sunk {
  margin-left: -110px;
  margin-top: 125px;
  rotate: -90deg;
  opacity: 0.4;
}

.img-ship-2-vert-sunk {
  margin-left: -80px;
  margin-top: 100px;
  rotate: -90deg;
  opacity: 0.4;
}

.img-ship-3-vert-sunk {
  margin-left: -50px;
  margin-top: 65px;
  rotate: -90deg;
  opacity: 0.4;
}

.img-ship-4-vert-sunk {
  margin-left: -20px;
  margin-top: 50px;
  rotate: -90deg;
  opacity: 0.4;
}
