/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #343a40;
  line-height: 1;
}

.own-tile-strike-img {
  position: absolute;
  z-index: 3;
  width: 75px;
  height: 75px;
}

.tile-img {
  position: absolute;
  width: 75px;
  height: 75px;
}

.board-tile {
  display: flex;
  width: 75px;
  height: 75px;
}

.ship-image {
  position: relative;
}

.ship-image:hover {
  cursor: pointer;
}

.ship-image:active {
  cursor: move;
}

.img-ship-1 {
  margin-left: 25px;
  margin-top: -10px;
}

.img-ship-2 {
  margin-left: 20px;
  margin-top: -5px;
}

.img-ship-3 {
  margin-left: 30px;
  margin-top: -5px;
}

.img-ship-4 {
  margin-top: 15px;
  margin-left: 15px;
}

.img-ship-1-vert {
  margin-left: -135px;
  margin-top: 145px;
  rotate: -90deg;
}

.img-ship-2-vert {
  margin-left: -105px;
  margin-top: 115px;
  rotate: -90deg;
}

.img-ship-3-vert {
  margin-left: -60px;
  margin-top: 80px;
  rotate: -90deg;
}

.img-ship-4-vert {
  margin-left: -25px;
  margin-top: 55px;
  rotate: -90deg;
}
