/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #343a40;
  line-height: 1;
}

.tile-img {
  position: absolute;
  width: 75px;
  height: 75px;
}

.board-tile {
  display: flex;
  width: 75px;
  height: 75px;
}

.ship-image {
  position: relative;
  z-index: 2;
}

.img-ship-1 {
  margin-left: 20px;
  margin-top: -60px;
}

.img-ship-2 {
  margin-left: 20px;
  margin-top: -50px;
}

.img-ship-3 {
  margin-left: 30px;
  margin-top: -45px;
}

.img-ship-4 {
  margin-left: 15px;
}

.img-ship-1-vert {
  margin-left: -40px;
  margin-top: 25px;
}

.img-ship-2-vert {
  margin-left: -30px;
  margin-top: 20px;
}

.img-ship-3-vert {
  margin-left: -25px;
  margin-top: 25px;
}

.img-ship-4-vert {
  margin-left: 15px;
  margin-top: 15px;
}
